%center {
    margin-left: auto;
    margin-right: auto;
}

div {
    font-family: sans-serif;

    #main_logo {
        @extend %center;
        display: block;
        width: 50%;
    }

    #content {
        @extend %center;
    }
}

@media (max-width: 575px) {
    #menu_list, .col-sm {
        border: 3px solid #c8102e;
    }
}

#menu_list {
    background-color: #0c2340;
}

.container {
    background-color: #f0f5f5;
    height:100vh;
}

.text-center {
    margin-top: 10px;
}

li:hover {
    background-color: #4a777a;
}

a:active {
    background-color: #ffffff;
}

a:visited {
    color: #c8102e;
}
